docuflow - beta 2.0/docuflow/doc/n8n/documentio_onchat_workflow_llm.json
{"name":"DocumentIO OnChat LLM Router","nodes":[{"parameters":{"httpMethod":"POST","path":"documentio-onchat","responseMode":"responseNode","options":{}},"id":"Webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[200,320]},{"parameters":{"functionCode":"const body=$json.body??$json;const item=Array.isArray(body)?body[0]:body;const sessionId=item.sessionId||item.session_id||item.chat_id||'';const message=(item.chatInput||item.message||'').toString().trim();return[{json:{sessionId,message}}];"},"id":"Normalize","name":"Normalize Input","type":"n8n-nodes-base.function","typeVersion":2,"position":[420,320]},{"parameters":{"functionCode":"const data=this.getWorkflowStaticData('global');if(!data.sessions)data.sessions={};const sessionId=$json.sessionId;const session=data.sessions[sessionId]||{};return[{json:{...$json,token:session.token||null,pending:session.pending||null}}];"},"id":"LoadMemory","name":"Load Memory","type":"n8n-nodes-base.function","typeVersion":2,"position":[640,320]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.token}}","operation":"isNotEmpty"}]}},"id":"HasToken","name":"Has Token?","type":"n8n-nodes-base.if","typeVersion":2,"position":[860,320]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.message}}","operation":"regex","value2":"^[a-fA-F0-9]{64}$"}]}},"id":"LooksLikeToken","name":"Looks Like Token?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1080,560]},{"parameters":{"url":"http://localhost/doc/api/validate-token.php","method":"POST","jsonParameters":true,"options":{},"headerParametersJson":"={\"Authorization\":\"Bearer {{$json.message}}\",\"Content-Type\":\"application/json\"}"},"id":"ValidateToken","name":"Validate Token","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1300,560]},{"parameters":{"functionCode":"const data=this.getWorkflowStaticData('global');if(!data.sessions)data.sessions={};const sessionId=$node['Normalize Input'].json.sessionId;const token=$node['Normalize Input'].json.message;const ok=$json.status==='success';if(ok&&sessionId&&token){data.sessions[sessionId]={token,pending:null};}return[{json:{ok}}];"},"id":"StoreToken","name":"Store Token","type":"n8n-nodes-base.function","typeVersion":2,"position":[1520,560]},{"parameters":{"functionCode":"if($json.ok){return[{json:{reply:'تم التحقق من التوكن وحفظه. يمكنك الآن طلب البحث أو الحذف أو التعديل أو الجلب أو الإنشاء.'}}];}return[{json:{reply:'التوكن غير صحيح. الرجاء إدخال التوكن الصحيح.'}}];"},"id":"TokenReply","name":"Token Reply","type":"n8n-nodes-base.function","typeVersion":2,"position":[1740,560]},{"parameters":{"functionCode":"const help=\"مرحباً! للوصول للخدمة أرسل التوكن الخاص بك.\\nإذا لا تملك توكن: ادخل حسابك في الموقع ثم من البروفايل اضغط إعادة توليد التوكن وسيصلك بالإيميل.\";return[{json:{reply:help}}];"},"id":"AskToken","name":"Ask Token","type":"n8n-nodes-base.function","typeVersion":2,"position":[1300,720]},{"parameters":{"url":"https://openrouter.ai/api/v1/chat/completions","method":"POST","jsonParameters":true,"options":{"timeout":30000},"headerParametersJson":"={\"Authorization\":\"Bearer {{$env.OPENROUTER_API_KEY}}\",\"Content-Type\":\"application/json\",\"HTTP-Referer\":\"http://localhost\",\"X-Title\":\"DocumentIO\"}","bodyParametersJson":"={\"model\": ($env.OPENROUTER_MODEL || \"openrouter/auto\"), \"temperature\": 0.2, \"messages\": [{\"role\":\"system\",\"content\":\"You are a router. Output ONLY valid JSON. Schema: {intent, language, fields, missing_fields, reply}. intents: auth_token, search, list, delete, create, update, logout, general. fields may include: id, customerName, nationalNumber, phone, passport, contact, Price, status, ibm, notes. If missing fields for create/update, set missing_fields and reply asking for them in user's language.\"},{\"role\":\"user\",\"content\":\"User message: {{$json.message}}\\n\\nSession state: {{$json.pending ? JSON.stringify($json.pending) : 'null'}}\"}]}"},"id":"OpenRouter","name":"LLM Router","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1080,120]},{"parameters":{"functionCode":"const raw=$json.choices?.[0]?.message?.content||'';let text=raw.trim();text=text.replace(/^```(json)?/i,'').replace(/```$/i,'').trim();let parsed;try{parsed=JSON.parse(text);}catch(e){parsed={intent:'general',language:'ar',fields:{},missing_fields:[],reply:'لم أفهم الطلب. اكتب مثلاً: بحث محمد أو حذف 123.'};}return[{json:parsed}];"},"id":"ParseLLM","name":"Parse LLM","type":"n8n-nodes-base.function","typeVersion":2,"position":[1300,120]},{"parameters":{"functionCode":"const data=this.getWorkflowStaticData('global');if(!data.sessions)data.sessions={};const sessionId=$node['Normalize Input'].json.sessionId;const session=data.sessions[sessionId]||{};const intent=$json.intent||'general';const missing=Array.isArray($json.missing_fields)?$json.missing_fields:[];if(intent==='logout'){session.token=null;session.pending=null;}else if(missing.length>0){session.pending={intent,fields:$json.fields||{},missing};}else{session.pending=null;}data.sessions[sessionId]=session;return[{json:$json}];"},"id":"UpdateMemory","name":"Update Memory","type":"n8n-nodes-base.function","typeVersion":2,"position":[1520,120]},{"parameters":{"conditions":{"boolean":[{"value1":"={{($json.missing_fields || []).length > 0}}","operation":"isTrue"}]}},"id":"HasMissing","name":"Has Missing?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1740,120]},{"parameters":{"functionCode":"return[{json:{reply:$json.reply||'الرجاء تزويدي بالمعلومات الناقصة.'}}];"},"id":"AskMissing","name":"Ask Missing","type":"n8n-nodes-base.function","typeVersion":2,"position":[1960,200]},{"parameters":{"value1":"={{$json.intent}}","rules":[{"operation":"equal","value2":"search"},{"operation":"equal","value2":"delete"},{"operation":"equal","value2":"list"},{"operation":"equal","value2":"create"},{"operation":"equal","value2":"update"},{"operation":"equal","value2":"logout"},{"operation":"equal","value2":"general"}]},"id":"Switch","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":2,"position":[1960,40]},{"parameters":{"url":"http://localhost/doc/api/document_search.php","method":"POST","jsonParameters":true,"options":{},"headerParametersJson":"={\"Authorization\":\"Bearer {{$node['Load Memory'].json.token}}\",\"Content-Type\":\"application/json\"}","bodyParametersJson":"={\"q\":\"{{$json.fields.q || $json.fields.query || ''}}\"}"},"id":"Search","name":"Search","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2180,-60]},{"parameters":{"functionCode":"const docs=$json.document||[];let reply='لم يتم العثور على نتائج.';if(docs.length>0){reply=`تم العثور على ${docs.length} نتيجة.\\n`;const top=docs.slice(0,3).map(d=>`- ${d.customer_name||''} (${d.national_number||''})`);reply+=top.join('\\n');}return[{json:{reply}}];"},"id":"SearchReply","name":"Search Reply","type":"n8n-nodes-base.function","typeVersion":2,"position":[2400,-60]},{"parameters":{"url":"http://localhost/doc/api/document_delete.php","method":"POST","jsonParameters":true,"options":{},"headerParametersJson":"={\"Authorization\":\"Bearer {{$node['Load Memory'].json.token}}\",\"Content-Type\":\"application/json\"}","bodyParametersJson":"={\"id\":\"{{$json.fields.id || ''}}\"}"},"id":"Delete","name":"Delete","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2180,20]},{"parameters":{"functionCode":"const reply=$json.message||'تم تنفيذ الطلب.';return[{json:{reply}}];"},"id":"DeleteReply","name":"Delete Reply","type":"n8n-nodes-base.function","typeVersion":2,"position":[2400,20]},{"parameters":{"url":"http://localhost/doc/api/get_documents.php","method":"POST","jsonParameters":true,"options":{},"headerParametersJson":"={\"Authorization\":\"Bearer {{$node['Load Memory'].json.token}}\",\"Content-Type\":\"application/json\"}"},"id":"List","name":"List","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2180,100]},{"parameters":{"functionCode":"const docs=$json.document||[];let reply='لا توجد مستندات.';if(docs.length>0){reply=`عدد المستندات: ${docs.length}.\\n`;const top=docs.slice(0,5).map(d=>`- ${d.customer_name||''} (${d.national_number||''})`);reply+=top.join('\\n');}return[{json:{reply}}];"},"id":"ListReply","name":"List Reply","type":"n8n-nodes-base.function","typeVersion":2,"position":[2400,100]},{"parameters":{"url":"http://localhost/doc/api/uploads_document.php","method":"POST","options":{},"sendBody":true,"bodyParametersUi":{"parameter":[{"name":"customerName","value":"={{$json.fields.customerName || ''}}"},{"name":"nationalNumber","value":"={{$json.fields.nationalNumber || ''}}"},{"name":"phone","value":"={{$json.fields.phone || ''}}"},{"name":"passport","value":"={{$json.fields.passport || ''}}"},{"name":"contact","value":"={{$json.fields.contact || ''}}"},{"name":"Price","value":"={{$json.fields.Price || ''}}"},{"name":"status","value":"={{$json.fields.status || 'new'}}"},{"name":"ibm","value":"={{$json.fields.ibm || ''}}"},{"name":"notes","value":"={{$json.fields.notes || ''}}"}]},"headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{'Bearer ' + $node['Load Memory'].json.token}}"}]}},"id":"Create","name":"Create","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2180,180]},{"parameters":{"functionCode":"const reply=$json.message||'تم إنشاء المستند.';return[{json:{reply}}];"},"id":"CreateReply","name":"Create Reply","type":"n8n-nodes-base.function","typeVersion":2,"position":[2400,180]},{"parameters":{"url":"http://localhost/doc/api/uploads_document.php","method":"POST","options":{},"sendBody":true,"bodyParametersUi":{"parameter":[{"name":"id","value":"={{$json.fields.id || ''}}"},{"name":"customerName","value":"={{$json.fields.customerName || ''}}"},{"name":"nationalNumber","value":"={{$json.fields.nationalNumber || ''}}"},{"name":"phone","value":"={{$json.fields.phone || ''}}"},{"name":"passport","value":"={{$json.fields.passport || ''}}"},{"name":"contact","value":"={{$json.fields.contact || ''}}"},{"name":"Price","value":"={{$json.fields.Price || ''}}"},{"name":"status","value":"={{$json.fields.status || 'new'}}"},{"name":"ibm","value":"={{$json.fields.ibm || ''}}"},{"name":"notes","value":"={{$json.fields.notes || ''}}"}]},"headerParametersUi":{"parameter":[{"name":"Authorization","value":"={{'Bearer ' + $node['Load Memory'].json.token}}"}]}},"id":"Update","name":"Update","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2180,260]},{"parameters":{"functionCode":"const reply=$json.message||'تم تحديث المستند.';return[{json:{reply}}];"},"id":"UpdateReply","name":"Update Reply","type":"n8n-nodes-base.function","typeVersion":2,"position":[2400,260]},{"parameters":{"functionCode":"return[{json:{reply:'تم تسجيل الخروج. أرسل التوكن من جديد للدخول.'}}];"},"id":"LogoutReply","name":"Logout Reply","type":"n8n-nodes-base.function","typeVersion":2,"position":[2180,340]},{"parameters":{"functionCode":"return[{json:{reply:$json.reply||'أنا مساعد خاص بالنظام. أقدر أساعدك في: البحث، الجلب، الحذف، التعديل، الإنشاء.'}}];"},"id":"GeneralReply","name":"General Reply","type":"n8n-nodes-base.function","typeVersion":2,"position":[2180,420]},{"parameters":{"responseBody":"={{[{\"sessionId\": $node[\"Normalize Input\"].json.sessionId, \"action\": \"sendMessage\", \"chatInput\": $json.reply}]}","options":{"responseCode":200}},"id":"Respond","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2620,320]}],"connections":{"Webhook":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Normalize Input":{"main":[[{"node":"Load Memory","type":"main","index":0}]]},"Load Memory":{"main":[[{"node":"Has Token?","type":"main","index":0}]]},"Has Token?":{"main":[[{"node":"LLM Router","type":"main","index":0}],[{"node":"Looks Like Token?","type":"main","index":0}]]},"Looks Like Token?":{"main":[[{"node":"Validate Token","type":"main","index":0}],[{"node":"Ask Token","type":"main","index":0}]]},"Validate Token":{"main":[[{"node":"Store Token","type":"main","index":0}]]},"Store Token":{"main":[[{"node":"Token Reply","type":"main","index":0}]]},"Token Reply":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Ask Token":{"main":[[{"node":"Respond","type":"main","index":0}]]},"LLM Router":{"main":[[{"node":"Parse LLM","type":"main","index":0}]]},"Parse LLM":{"main":[[{"node":"Update Memory","type":"main","index":0}]]},"Update Memory":{"main":[[{"node":"Has Missing?","type":"main","index":0}]]},"Has Missing?":{"main":[[{"node":"Ask Missing","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Ask Missing":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Search","type":"main","index":0}],[{"node":"Delete","type":"main","index":0}],[{"node":"List","type":"main","index":0}],[{"node":"Create","type":"main","index":0}],[{"node":"Update","type":"main","index":0}],[{"node":"Logout Reply","type":"main","index":0}],[{"node":"General Reply","type":"main","index":0}]]},"Search":{"main":[[{"node":"Search Reply","type":"main","index":0}]]},"Search Reply":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Delete":{"main":[[{"node":"Delete Reply","type":"main","index":0}]]},"Delete Reply":{"main":[[{"node":"Respond","type":"main","index":0}]]},"List":{"main":[[{"node":"List Reply","type":"main","index":0}]]},"List Reply":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Create":{"main":[[{"node":"Create Reply","type":"main","index":0}]]},"Create Reply":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Update":{"main":[[{"node":"Update Reply","type":"main","index":0}]]},"Update Reply":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Logout Reply":{"main":[[{"node":"Respond","type":"main","index":0}]]},"General Reply":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"active":false,"settings":{},"versionId":"2"}
